# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment variables
.env

# Database
*.db

# AI Models
*.pth
*.pkl

# Dataset
ai/disease/dataset/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store