# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Uploaded files
uploads/

# Python cache
.pytest_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db